.Title {
    width: 1020px;
    background-color: grey;
    text-align: center;
    color: black;
    font-family: monospace;
    border: 1px solid black;
}

.News {
    width: 1000px;  
    background-color: grey;
    border: 1px solid black;
    font-family: monospace;
    font-size: 13px;
    padding-left: 18px;
    padding-top: 18px;
}

.hot_news {
    width: 500px;
    font-size: 10px;
}

p {
    background-color: rgb(221, 218, 218);
    border: 1px solid black;
    font-size: 18px;
}
.Adress {
    background-color: grey;
    border: 1px solid black;
    margin-top: 22px;
    width: 1020px;
    height: 100px;
    text-align: center;
    padding-top: 3px;
}
h2 {
    font-family: monospace; 
    font-size: 23px;
    padding-left: 8px;
}
h1 {
    font-family: monospace;
    font-size: 30px;
}